* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --default-font: 'Open Sans', sans-serif;
}

html {
    background: #090C02;
}

.size {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    font-family: var(--default-font);
    font-size: 2rem;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #005eac;
    color: #eee;
    box-shadow: 2px 2px 2px 2px rgb(49, 49, 49);
    transition: all 0.05s ease-in-out;
}

.size:hover {
    color: #222;
    background-color: #eee;
}

.wrapper {
    padding: 0px;
    margin: 46px auto;
    display: flex;
    justify-content: center;
    max-width: 1000px;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 2vh;
    background: #090C02;
    max-width: 700px;
    min-height: fit-content;
}

.flip-card {
    background-color: transparent;
    width: 100px;
    height: 100px;
    perspective: 1000px;
    margin: 20px;
    cursor: pointer;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-inner.flipper {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    border-radius: 10px;
}

.flip-card-back {
    padding: 10px;
    object-fit: contain;
    background-color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
}

.flip-card-back img {
    height: 100%;
    width: 100%;
}

footer {
    position: relative;
    bottom: 0;
    background-color: #005eac;
    height: 90px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

svg {
    fill: #eee;
    transition: all 0.05s ease-in-out;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 50px;
    width: 135px;
}

svg:hover {
    fill: #090C02;
}

.footer-div__1 {
    display: flex;
    justify-content: center;
    width: 135px;
}

svg.icon-1 {
    width: 50px;
}